extends layout

block append subhead
  .mission
    p.lead
      | 2012 Imperial College Computing Student Workshop
      br
      | September 27—28, 2012 • London, United Kingdom

block content
  .node!= page.html
